/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
*/

:root{
  --cinzaclaro: #e6e6e6;
  --azul: #4b7bc6;
}


*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none !important;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: gblack;
    src: url('../fonts/gblack.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: gbold;
    src: url('../fonts/gbold.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: gmedium;
    src: url('../fonts/gmedium.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: glight;
    src: url('../fonts/glight.otf');
    font-style: normal;
    font-weight: normal;
  }


/* BODY */
  body{
  
  }

/*PÁGINA INICIAL*/
  .topo{

  }
    .topo .logo{

    }
      .topo .logo a{

      }
        .topo .logo a img{
          width: 160px;
          margin: 16px 0;
        }

  .pg-inicial{

  }
    .pg-inicial .initial{

    }
      .pg-inicial .initial .main-text{
        width: 100%;
        max-width: 890px;
        margin: 0 auto;
      }
        .pg-inicial .initial .main-text .title{
          text-align: center;
          font-size: 60px;
          text-transform: uppercase;
          font-weight: bold;
          margin: 95px auto 0;
        }
        .pg-inicial .initial .main-text .desc{
          text-align: center;
          margin: 20px auto 65px;
        }
      .pg-inicial .menu{
        background-color: var(--cinzaclaro);
        padding: 6px;
      }
        .pg-inicial .menu nav{

        }
          .pg-inicial .menu nav a{
            font-size: 19px;
            color: #000;
            padding: 9px 26px;
          }
          .pg-inicial .menu nav a:hover{
            background-color: #000;
            color: #fff;
          }
      .pg-inicial .initial .post-section{

      }
        .pg-inicial .initial .post-section .last-post{
          background: var(--cinzaclaro);
          margin: 40px 0px auto 0;
          width: 100%;
          max-width: 735px;
        }
          .pg-inicial .initial .post-section .last-post a{
            color: #000;
            background: var(--cinzaclaro);
          }
            .pg-inicial .initial .post-section .last-post a .img-post{

            }
              .pg-inicial .initial .post-section .last-post a .img-post img{
                max-width: 735px;
              }
            .pg-inicial .initial .post-section .last-post a .post-text{
              padding: 15px 30px;
            }
              .pg-inicial .initial .post-section .last-post a .post-text .category{
                font-size: 15px;
              }
              .pg-inicial .initial .post-section .last-post a .post-text .post-title{
                font-weight: bold;
                font-size: 34px;
                margin: 16px auto 55px;
              }
              .pg-inicial .initial .post-section .last-post a .post-text .author{

              }
                .pg-inicial .initial .post-section .last-post a .post-text .author span{
                  font-weight: bold;
                  border: none;
                  padding: 0 3px 0 0;
                  display: inline-block;
                  font-size: 14px;
                }
                .pg-inicial .initial .post-section .last-post a .post-text .author .read-time{
                  font-weight: initial;
                  border-left: 1px solid #000;
                  padding: 0 0px 0 4px;
                  height: 15px;
                }
      .pg-inicial .initial .side-posts{

      }
      .pg-inicial .initial .side-posts .best-post{
        margin: 40px auto 0;
      }
        .pg-inicial .initial .side-posts .best-post .best-title{
          background-color: #000;
          max-width: 280px;
          padding: 8px 19px;
          display: block;
        }
          .pg-inicial .initial .side-posts .best-post .best-title h4{
            color: #fff;
            margin: 0;
            padding: 0;
            font-weight: bold;
          }
        .pg-inicial .initial .side-posts .best-post .title-posts{
          background-color: var(--cinzaclaro);
          padding: 12.9px 15px 14px;
          margin: 12px auto;
        }
          .pg-inicial .initial .side-posts .best-post .title-posts a{
            color: #000;
          }
            .pg-inicial .initial .side-posts .best-post .title-posts a p{
              font-size: 16px;
              font-weight: bold;
              line-height: 19px;
            }
            .pg-inicial .initial .side-posts .best-post .title-posts a .author{

            }
              .pg-inicial .initial .side-posts .best-post .title-posts a .author span{
                font-size: 12px;
                font-weight: bold;
                border: none;
                padding: 0;
              }
              .pg-inicial .initial .side-posts .best-post .title-posts a .author .read-time{
                font-weight: initial;
                border-left: 1px solid #000;
                padding: 0 0px 0px 3px;
                height: 13px;
                display: inline-block;
              }
      .pg-inicial .initial .editors-pick{
            margin: 0px auto;
      }

        /* .pg-inicial .initial .editors-pick-section .title-editors-pick{

        }
          .pg-inicial .initial .editors-pick-section .title-editors-pick h4{

          }
        .pg-inicial .initial .editors-pick-section .title-posts{

        }
          .pg-inicial .initial .editors-pick-section .title-posts a{

          }
            .pg-inicial .initial .editors-pick-section .title-posts a p{

            }
              .pg-inicial .initial .editors-pick-section .title-posts a .author{

              }
                .pg-inicial .initial .editors-pick-section .title-posts a .author span{

                }
                .pg-inicial .initial .editors-pick-section .title-posts a .author .read-time{

                } */


        .pg-inicial .initial .post-section .posts{
          margin: 22px auto;
        }
        .pg-inicial .initial .post-section .smaller-posts{
          background-color: var(--cinzaclaro);
          max-width: 355px;
          margin: 0 0 auto 0;
        }
          .pg-inicial .initial .post-section .smaller-posts a{
            color: #000;
          }
            .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image{

            }
              .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image img{
                max-width: 355px;
              }
            .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text{
              padding: 15px 20px;
            }
              .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-category{
                font-size: 12px;
              }
                .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-title{
                  font-size: 22px;
                  font-weight: bold;
                  margin: 25px auto 57px;
                }
                  .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-author{

                  }
                    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-author span{
                      font-size: 12px;
                      font-weight: bold;
                      border: none;
                      padding: 0;
                    }
                    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-author .read-time{
                      font-weight: initial;
                      border-left: 1px solid #000;
                      padding: 0 0px 0px 3px;
                      height: 13px;
                      display: inline-block;
                    }
          .pg-inicial .initial .post-section .newsletter{
            background: linear-gradient(#131211, #837f7c);
            text-align: center;
            padding: 46px 0 75px;
            border-radius: 14px;
            position: relative;
          }
          .pg-inicial .initial .post-section .newsletter:before{
            content: "";
            display: block;
            position: absolute;
            top: 55px;
            left: 0;
            width: 120px;
            height: 279px;
            background-image: url(../img/up.png);
            background-repeat: no-repeat;
            background-size: 82px;
          }
          .pg-inicial .initial .post-section .newsletter:after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 85px;
            height: 245px;
            background-image: url(../img/down.png);
            background-repeat: no-repeat;
            background-size: 85px;
          }
            .pg-inicial .initial .post-section .newsletter .title{
              max-width: 325px;
              margin: 0 auto;
              position: relative;
              z-index: 3;
            }
              .pg-inicial .initial .post-section .newsletter .title h4{
               color: #fff;
               font-size: 40px;
               font-weight: bold;
             }
            .pg-inicial .initial .post-section .newsletter .desc{
              max-width: 350px;
              margin: 12px auto 20px;
              position: relative;
              z-index: 3;
            }
              .pg-inicial .initial .post-section .newsletter .desc p{
                color: #fff;
                font-size: 16px;
                margin: 0;
              }
            .pg-inicial .initial .post-section .newsletter .fields{
              position: relative;
              z-index: 3;
            }
              .pg-inicial .initial .post-section .newsletter .fields input{
                display: block;
                margin: 14px auto;
                width: 100%;
                max-width: 335px;
                border-radius: 5px;
                border: none;
                padding: 8px 10px;
              }
              .pg-inicial .initial .post-section .newsletter .fields input::placeholder{
                color: #000;
                font-size: 15px;
              }
              .pg-inicial .initial .post-section .newsletter .fields input[type="submit"]{
                background-color: var(--azul);
                color: #fff;
                font-size: 16px;
                border-bottom: 4px solid #38489e;
                padding: 8px 10px 6px;
              }

    .pg-inicial .initial .paginator{
      text-align: center;
      margin: 40px auto;
    }
      .pg-inicial .initial .paginator span{

      }
        .pg-inicial .initial .paginator span a{
          color: #000;
          font-size: 17px;
          text-align: center;
          padding: 5px 0px 5px 10px;
          font-weight: bold;
        }
        .pg-inicial .initial .paginator span a.numbers{
          color: #000;
          font-size: 17px;
          text-align: center;
          padding: 5px 10px;
          font-weight: bold;
        }
        .pg-inicial .initial .paginator span a:hover{
          background-color: #000;
          color: #fff;
        }
          .pg-inicial .initial .paginator span a i{
            padding: 0 7px;
            vertical-align: middle;
            font-size: 15px;
          }



/* PÁGINA DE POST */
  .pg-post{

  }
    .pg-post .post-page{

    }
      .pg-post .post-page .text{

      }
        .pg-post .post-page .text .category{
          position: relative;
          padding: 15px 0 0 0;
        }
        .pg-post .post-page .text .category:before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: -3px;
          width: 64px;
          height: 3px;
          background-color: #000;
        }
          .pg-post .post-page .text .category span{
            font-weight: bold;
            border: none;
            padding: 0 3px 0 0;
            display: inline-block;
            font-size: 18px;
          }
          .pg-post .post-page .text .category .time{
            font-weight: initial;
            border-left: 1px solid #000;
            padding: 0 0px 0 4px;
            height: 18px;
          }
        .pg-post .post-page .text .title{

        }
          .pg-post .post-page .text .title h1{
            font-weight: bold;
            font-size: 43px;
            margin: 30px auto 60px;
          }
        .pg-post .post-page .text .author{
          margin: 0 auto;
        }
          .pg-post .post-page .text .author img{
            display: inline-block;
            max-width: 70px;
          }
          .pg-post .post-page .text .author p{
            display: block;
            margin: 0;
            font-size: 18px;
          }
          .pg-post .post-page .text .author span{
            display: inline-block;
            vertical-align: middle;
            padding: 0 10px;
          }
            .pg-post .post-page .text .author span a{
              display: block;
              font-size: 18px;
            }
      .pg-post .post-page figure{

      }
        .pg-post .post-page figure img{
          max-width: 660px;
          text-align: right;
          display: block;
          margin: 0 0 0 auto;
        }
      .pg-post .post-page .social-media{
        display: inline-block;
        width: 100%;
        max-width: 110px;
        vertical-align: top;
        margin: 125px auto 0;
      }
        .pg-post .post-page .social-media ul{

        }
          .pg-post .post-page .social-media ul li{
            list-style: none;
            margin: 20px auto;
          }
            .pg-post .post-page .social-media ul li a{
              color: #9a9a9a;
              font-size: 18px;
            }
              .pg-post .post-page .social-media ul li a i{

              }
      .pg-post .post-page .main-text{
        display: inline-block;
        max-width: 933px;
        margin: 60px auto;
        width: 100%;
      }
        .pg-post .post-page .main-text p{
          font-size: 25px;
          line-height: 25px;
        }
      .pg-post .post-page .tags{
        max-width: 1022px;
        margin: 0 0 0 auto;
      }
        .pg-post .post-page .tags p{
          display: inline-block;
          font-size: 20px;
        }
        .pg-post .post-page .tags .tag{
          font-size: 16px;
          background-color: #000;
          color: #fff;
          padding: 1px 16px;
        }
      .pg-post .post-page .toshare{

      }
        .pg-post .post-page .toshare h2{
          text-align: center;
          font-size: 40px;
          margin: 65px auto 0;
        }
        .pg-post .post-page .toshare ul{
         width: 100%;
         max-width: 710px;
         margin: 42px auto;
         display: block;
         text-align: center;
        }
          .pg-post .post-page .toshare ul li{
            list-style: none;
            margin: 0 auto;
            display: inline-block;
            padding: 0 12px;
          }
            .pg-post .post-page .toshare ul li a{
              color: #fff;
              font-size: 18px;
              background-color: #9a9a9a;
              padding: 6px 8px;
              border-radius: 100%;
            }
      .pg-post .post-page .related{
        position: relative;
        padding: 50px 0;
        margin: 15px auto;
      }
      .pg-post .post-page .related:before{
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 50%;
        width: 100%;
        max-width: 890px;
        height: 4px;
        background-color: #000;
        transform: translateX(-50%);
      }
        .pg-post .post-page .related h2.related-title{
          text-align: center;
          font-size: 52px;
          margin: 0px auto 100px;
          position: relative;
        }
        .pg-post .post-page .related h2.related-title:after{
          content: "\f103";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          position: absolute;
          top: 75px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 55px;
        }
        .pg-post .post-page .related .related-posts{
          background-color: var(--cinzaclaro);
          max-width: 355px;
          margin: 0 auto;
        }
          .pg-post .post-page .related .related-posts a{
            color: #000;
          }
          .pg-post .post-page .related .related-posts a .related-text{
            padding: 15px 23px;
          }
            .pg-post .post-page .related .related-posts a figure{

            }
              .pg-post .post-page .related .related-posts a figure img{
                max-width: 355px;
                margin: 0;
              }
            .pg-post .post-page .related .related-posts a .category{

            }
              .pg-post .post-page .related .related-posts a .category p{
                font-size: 12px;
              }
            .pg-post .post-page .related .related-posts a .title{

            }
              .pg-post .post-page .related .related-posts a .title h2{
                font-size: 25px;
                font-weight: bold;
                margin: 25px auto 60px;
              }
            .pg-post .post-page .related .related-posts a .author{

            }
              .pg-post .post-page .related .related-posts a .author span{
                font-size: 12px;
                font-weight: bold;
                border: none;
                padding: 0;
              }
              .pg-post .post-page .related .related-posts a .author .time{
                font-weight: initial;
                border-left: 1px solid #000;
                padding: 0 0px 0px 3px;
                height: 13px;
                display: inline-block;
              }


/*EXTRAS*/

/*@MEDIA QUERY*/
  @media(max-width: 1200px){
    .pg-inicial .initial .post-section .last-post {
      max-width: 612px;
    }
    .pg-inicial .initial .post-section .last-post a .img-post img {
      max-width: 612px;
    }
    .pg-inicial .initial .post-section .last-post a .post-text .post-title {
      font-size: 28px;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts a p {
      font-size: 15px;
    }
    .pg-inicial .initial .post-section .smaller-posts {
      max-width: 296px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image img {
      max-width: 296px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-title {
      font-size: 20px;
      margin: 25px auto 57px;
    }
    .pg-inicial .initial .post-section .newsletter {
      padding: 35px 0 65px;
    }
    .pg-inicial .initial .post-section .newsletter .title h4 {
      font-size: 32px;
    }
    .pg-inicial .initial .post-section .newsletter .desc p {
      font-size: 14px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input {
      margin: 14px auto;
      max-width: 275px;
      padding: 8px 10px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input[type="submit"] {
      font-size: 16px;
      padding: 6px 10px 5px;
    }
    .pg-inicial .initial .post-section .newsletter .desc {
      max-width: 300px;
    }
    .pg-inicial .initial .post-section .newsletter .title {
      max-width: 286px;
    }
    .pg-inicial .initial .main-text .desc {
      font-size: 20px;
    }
    .pg-inicial .initial .main-text .title {
      font-size: 50px;
    }
    .pg-inicial .initial .side-posts .best-post .best-title {
      max-width: 240px;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts a .author span {
      font-size: 11px;
    }
    .pg-post .post-page figure img {
      width: 100%;
    }
    .pg-post .post-page .text .title h1 {
      font-size: 38px;
      margin: 30px auto 48px;
    }
    .pg-post .post-page .social-media {
      max-width: 75px;
    }
    .pg-post .post-page .main-text {
      max-width: 784px;
    }
    .pg-post .post-page .tags {
      max-width: 858px;
    }
    .pg-post .post-page .related .related-posts {
      max-width: 270px;
    }
    .pg-post .post-page .related .related-posts a figure img {
      max-width: 100%;
    }
    .pg-post .post-page .related .related-posts a .related-text {
      padding: 15px 15px;
    }
    .pg-post .post-page .related .related-posts a .title h2 {
      font-size: 25px;
      margin: 12px auto 43px;
    }
  }


  @media(max-width: 991px){
    .pg-inicial .initial .post-section .last-post {
      max-width: 100%;
    }
    .pg-inicial .initial .post-section .last-post a .img-post img {
      max-width: 100%;
    }
    .pg-inicial .initial .side-posts .best-post {
      max-width: 358px;
      display: inline-block;
    }
    .pg-inicial .initial .post-section .smaller-posts {
      max-width: 100%;
      display: block;
      margin: 18px auto;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image {
      display: inline-block;
      max-width: 310px;
      vertical-align: middle;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image img {
      max-width: 100%;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text {
      padding: 7px 20px;
      display: inline-block;
      max-width: 367px;
      vertical-align: middle;
    }
    .pg-inicial .initial .post-section .newsletter .title h4 {
      font-size: 36px;
    }
    .pg-inicial .initial .post-section .newsletter .desc {
      max-width: 325px;
    }
    .pg-inicial .initial .post-section .newsletter .desc p {
      font-size: 15px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input {
      max-width: 315px;
    }
    .pg-inicial .initial .post-section .newsletter {
      padding: 25px 0 45px;
    }
    .pg-inicial .initial .main-text .title {
      font-size: 48px;
    }
    .pg-post .post-page .text .author p {
      font-size: 17px;
    }
    .pg-post .post-page .text .author span a {
      font-size: 17px;
    }
    .pg-post .post-page .text .author img {
      max-width: 62px;
    }
    .pg-post .post-page .text .title h1 {
      font-size: 30px;
      margin: 21px auto 38px;
    }   
    .pg-post .post-page .text .category span {
      font-size: 15px;
    }
    .pg-post .post-page .text .category:before {
      width: 54px;
    }
    .pg-post .post-page .main-text {
      max-width: 625px;
    }
    .pg-post .post-page .main-text p {
      font-size: 22px;
    }
    .pg-post .post-page .tags {
      max-width: 637px;
    }
    .pg-post .post-page .related:before {
      max-width: 816px;
    }
    .pg-post .post-page .related .related-posts a .title h2 {
      font-size: 18px;
      margin: 12px auto 30px;
    }
    .pg-post .post-page .related .related-posts a .related-text {
      padding: 15px 10px;
    }
    .pg-post .post-page .related .related-posts {
      max-width: 200px;
    }
  }

  @media(max-width: 768px){
    .pg-inicial .initial .post-section .last-post {
      width: 100%;
      margin: 40px auto 0;
      max-width: 610px;
    }
    .pg-inicial .initial .post-section .last-post a .img-post img {
      max-width: 100%;
    }
    .pg-inicial .initial .side-posts {
      max-width: 610px;
      margin: 0 auto;
    }
    .pg-inicial .initial .side-posts .best-post {
      max-width: 302px;
      display: inline-block;
    }
    .pg-inicial .initial .post-section .smaller-posts {
      max-width: 609px;
      margin: 12px auto;
    } 
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image {
      max-width: 307px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text {
      padding: 11px 20px;
      max-width: 295px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-title {
      font-size: 18px;
      margin: 18px auto 42px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-author span {
      font-size: 11px;
    }
    .pg-inicial .initial .post-section .newsletter {
      max-width: 609px;
      margin: 0 auto;
      margin: 38px auto 0;
    }
    .pg-inicial .initial .main-text .title {
      font-size: 46px;
    }
    .pg-inicial .initial .main-text .desc {
      font-size: 18px;
      padding: 0 15px;
    }
    .pg-inicial .menu {
      padding: 5px 70px;
    }
    .pg-inicial .menu nav a {
      font-size: 16px;
      padding: 7px 26px;
    }
    .pg-post .post-page .text .title h1 {
      font-size: 30px;
      margin: 12px auto 25px;
    }
    .pg-post .post-page .text {
      max-width: 670px;
      margin: 10px auto 20px;
    }
    .pg-post .post-page .text .author img {
      max-width: 42px;
    }
    .pg-post .post-page .text .author p {
      font-size: 14px;
    }
    .pg-post .post-page .text .author span a {
      font-size: 14px;
    }
    .pg-post .post-page figure {
      max-width: 550px;
      margin: 0 auto;
    }
    .pg-post .post-page .text .category {
      padding: 10px 0 0 0;
    }
    .pg-post .post-page .social-media {
      margin: 60px auto 0;
      padding: 0 0 0 22px;
    }
    .pg-post .post-page .toshare h2 {
      font-size: 38px;
    }
    .pg-post .post-page .related:before {
      max-width: 590px;
    }
    .pg-post .post-page .related .related-posts a .title h2 {
      font-size: 16px;
    }
    .pg-post .post-page .related h2.related-title {
      font-size: 50px;
      margin: 0px auto 85px;
    }
    .pg-post .post-page .related h2.related-title:after {
      top: 60px;
      font-size: 48px;
    }
    .pg-post .post-page .tags {
      max-width: 660px;
    }
  }

 @media(max-width: 767px){

 }

 @media(max-width: 720px){
  .pg-post .post-page .main-text p {
    font-size: 20px;
  }
  .pg-post .post-page .main-text {
    max-width: 558px;
  }
  .pg-post .post-page .social-media {
    max-width: 77px;
  }
  .pg-post .post-page .tags .tag {
    font-size: 14px;
  }
  .pg-post .post-page .tags p {
    font-size: 18px;
  }
  .pg-post .post-page .tags {
    max-width: 608px;
  }
  .pg-post .post-page .toshare h2 {
    font-size: 35px;
  }
  .pg-post .post-page .toshare ul li a {
    font-size: 16px;
    padding: 5px 7px;
  }
  .pg-post .post-page .related h2.related-title {
    font-size: 45px;
    margin: 0px auto 85px;
  }
  .pg-post .post-page .related h2.related-title:after {
    font-size: 44px;
  }
 }

  @media(max-width: 655px){
    .pg-post .post-page .main-text {
      max-width: 487px;
    }
    .pg-post .post-page .text {
      max-width: 550px;
    }
    .pg-post .post-page .text .category span {
      font-size: 14px;
    }
  }

  @media(max-width: 625px){
    .pg-inicial .menu {
      padding: 5px 20px;
    }
    .pg-inicial .initial .post-section .last-post {
      max-width: 500px;
    }   
    .pg-inicial .initial .post-section .last-post a .post-text .category {
      font-size: 12px;
    }
    .pg-inicial .initial .post-section .last-post a .post-text .post-title {
      font-size: 22px;
    }
    .pg-inicial .initial .post-section .last-post a .post-text .author span {
      font-size: 12px;
    }
    .pg-inicial .initial .side-posts {
      max-width: 500px;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts {
      margin: 7px auto;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts a p {
      font-size: 14px;
      margin: 0 auto 3px;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts a .author span {
      font-size: 10px;
    }
    .pg-inicial .initial .side-posts .best-post {
      max-width: 100%;
    }
    .pg-inicial .initial .editors-pick {
      margin: 8px auto !important;
    }
    .pg-inicial .initial .side-posts .best-post .best-title h4 {
      font-size: 16px;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts {
      padding: 9px 15px 10px;
    }
    .pg-inicial .initial .post-section .smaller-posts {
      max-width: 500px;
      margin: 12px auto;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image {
      max-width: 239px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text {
      padding: 2px 14px;
      max-width: 254px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-title {
      font-size: 16px;
      margin: 10px auto 15px;
    }
    .pg-inicial .initial .post-section .newsletter {
      max-width: 500px;
      margin: 38px auto 0;
      padding: 12px 0 38px;
    }
    .pg-inicial .initial .post-section .newsletter .title h4 {
      font-size: 34px;
    }
    .pg-inicial .initial .post-section .newsletter .desc {
      max-width: 298px;
    }
    .pg-inicial .initial .post-section .newsletter .desc p {
      font-size: 13px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input {
      max-width: 279px;
      padding: 7px 10px;
      margin: 10px auto;
    }
  }

  @media(max-width: 520px){
    .pg-inicial .initial .post-section .last-post {
      max-width: 375px;
    }
    .pg-inicial .initial .post-section .last-post a .post-text .post-title {
      font-size: 18px;
      margin: 10px auto 42px;
    }
    .pg-inicial .initial .post-section .last-post a .post-text .author span {
      font-size: 11px;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts a p {
      font-size: 13px;
      margin: 0 auto 2px;
    }
    .pg-inicial .initial .side-posts .best-post .title-posts {
      padding: 6px 15px 8px;
    }
    .pg-inicial .initial .side-posts .best-post .best-title {
      padding: 6px 15px;
    }
    .pg-inicial .initial .side-posts .best-post .best-title h4 {
      font-size: 15px;
    }
    .pg-inicial .initial .side-posts {
      max-width: 375px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image {
      max-width: 184px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text {
      padding: 8px 5px;
      max-width: 187px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-category {
      font-size: 11px;
      margin: 0;
    }   
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-title {
      font-size: 14px;
      margin: 3px auto 5px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-author span {
      font-size: 10px;
    }
    .pg-inicial .initial .post-section .smaller-posts {
      max-width: 375px;
      margin: 12px auto;
    }
    .pg-inicial .initial .post-section .newsletter .desc {
      margin: 13px auto 30px;
    }
    .pg-inicial .initial .post-section .newsletter {
      max-width: 375px;
      padding: 34px 0 64px;
    }
    .pg-inicial .menu {
      padding: 5px 20px;
      text-align: center;
    }
    .pg-inicial .initial .main-text .desc {
      font-size: 15px;
      padding: 0 15px;
    }
    .pg-inicial .initial .main-text .title {
      font-size: 39px;
    }
  }
  @media(max-width: 585px){
    .pg-post .post-page .main-text p {
      font-size: 18px;
    }
    .pg-post .post-page .main-text {
      max-width: 436px;
    }
    .pg-post .post-page figure {
      max-width: 510px;
      margin: 0 auto;
    }
    .pg-post .post-page .text {
      max-width: 510px;
    }
    .pg-post .post-page .tags {
      max-width: 508px;
    }
    .pg-post .post-page .main-text {
      margin: 45px auto;
    }
  }

  @media(max-width: 425px){
    .pg-inicial .initial .post-section .last-post a .post-text {
      padding: 15px 16px;
    }
    .pg-inicial .menu nav a {
      font-size: 16px;
      padding: 7px 13px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input::placeholder{
      font-size: 14px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input{
      max-width: 270px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input[type="submit"] {
      font-size: 15px;
    }
  }

  @media(max-width: 320px){
    .pg-inicial .initial .main-text .desc {
      font-size: 14px;
      padding: 0 12px;
      margin: 20px auto 30px;
    }
    .pg-inicial .initial .main-text .title {
      font-size: 28px;
      margin: 35px auto 0;
    }
    .pg-inicial .menu nav a {
      font-size: 14px;
      padding: 7px 9px;
    }
    .pg-inicial .initial .post-section .last-post {
      max-width: 268px;
      margin: 30px auto 0;
    }
    .pg-inicial .initial .post-section .last-post a .post-text .post-title {
      font-size: 15px;
      margin: 10px auto 35px;
    }
    .pg-inicial .initial .side-posts {
      max-width: 268px;
    }
    .pg-inicial .initial .side-posts .best-post .best-title {
      max-width: 140px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text {
      padding: 10px 15px;
      max-width: 100%;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-image {
      max-width: 268px;
    }
    .pg-inicial .initial .post-section .smaller-posts {
      max-width: 268px;
    }
    .pg-inicial .initial .post-section .smaller-posts a .smaller-post-text .smaller-post-title {
      font-size: 13px;
      margin: 4px auto 5px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input {
      max-width: 215px;
    }
    .pg-inicial .initial .post-section .newsletter {
      max-width: 268px;
      padding: 34px 0 64px;
    }
    .pg-inicial .initial .post-section .newsletter .title {
      max-width: 242px;
    }
    .pg-inicial .initial .post-section .newsletter .title h4 {
      font-size: 27px;
    }
    .pg-inicial .initial .post-section .newsletter .desc {
      max-width: 250px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input::placeholder{
      font-size: 12px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input[type="submit"] {
      font-size: 13px;
    }
    .pg-inicial .initial .post-section .newsletter .fields input {
      margin: 6px auto;
      max-width: 215px;
      padding: 6px 10px;
    }
  }